body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Fira Code', monospace, 'Hubballi', cursive
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(47, 45, 45);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

h1 {
  font-family: 'Fira Code';
  font-size: 4rem;
}

div {
  font-family: 'Hubballi', cursive;
}

.MainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 2% 0 2%;
}

.MainContainer h1, div {
  font-size: 1.2rem;
}

.contact {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2% 2% 0 2%;
  border: solid;
  background-color: rgb(0, 27, 33);
}

.NameContainer, .AddressContainer, .NumberContainer {
  width: 85%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3% 0 2% 0;
}

.NewContact {
  width: 10%;
  height: 3rem;
  font-size: 1.3rem;
  margin: 5%;
  position: relative;
  left: 83%;
  margin: 10% 0 0 0;
}

.Form {
  display: block;
  margin: 5% 0 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FormWrapper {
  width: 25%;
  border: solid;
  border-radius: 0.5rem;
  border-color: #000;
  padding: 1%;
  background-color: rgb(176, 180, 186);
  color: #000;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Wrapper {
  width: 100%;
  padding: 1%;
}

.NameInput, .AddressInput, .NumberInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  height: 2rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  border-style: groove;
}

.button-container-2 {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  overflow: hidden;
  border: 1px solid rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
  background-color: rgb(83, 170, 228);
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 80%;
  letter-spacing: 1px;
  font-weight: bold;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.3s steps(29) forwards;
  animation: ani2 0.3s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.3s steps(29) forwards;
  animation: ani 0.3s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 80%;
  margin-top: 14px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}



.hidden {
  display: none;
}

